body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
div{
  width:100%;
}

h1{
  padding-bottom:15px;
  border-bottom:1px solid rgba(0,0,0,0.5);
}
a{
  text-decoration: none;
}
footer{
  background-color:rgba(245,245,245,0.9);
  border-radius:10px;
  padding-top:2%;
  padding-bottom:2%;
  p{
      margin:5px;
  }
}