body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a{
  text-decoration: none;
}
footer{
  background-color:rgba(245,245,245,0.9);
  border-radius:10px;
  padding-top:2%;
  padding-bottom:2%;
  p{
      margin:5px;
  }
}